<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eva_DataBase_App.Properties.Settings.EVA_InfoConnectionString"
            connectionString="Data Source=DESKTOP-EVBLF3O\SQLEXPRESS;Initial Catalog=EVA-Info;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>